body{
	background-color:#c5ccd8;
	text-align: center;
}
.text{
	font-family: 'Amatic SC', cursive;
	font-size : 120px; line-height: 1.5;
	margin:50px;
	text-decoration: none;
	color: green;
	
	padding: 50px; /* Поля вокруг текста */
}
a{
	text-decoration: none;
}