body{
	background-color:#c5ccd8;
	text-align: center;
}
a{
	font-family: 'Amatic SC', cursive;
	font-size : 120px; line-height: 1.5;
	
	text-decoration: none;
	color: green;
	margin-bottom:250px;
}
